:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #f8f8f8;
  --preto-claro: #2c2c28;
  --preto-escuro: #1a1b19;
}

body {
  margin: 0;
  font-family: var(--fonte);
  background-color: var(--preto-claro);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
